<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <caching enabled="false" enableKernelCache="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto"/>
    <staticContent/>
  </system.webServer>
  <connectionStrings>
    <add name="mainDatabase" connectionString="Data Source=babydream.gr;Initial Catalog=goldenb1_babydream2;Persist Security Info=True;User ID=goldenb1_stef;Password=Cal91R53b681lof11" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ajp_dbmane" value="goldenb1_babydream2"/>
    <add key="ajp_Mail_Address" value="info@babydream.gr"/>
    <add key="domain" value="babydream.gr"/>
    <add key="PDTToken" value="fH6UkiB819buG6EhKG1QJib0b8pAOJjaZhvJjUx-x_-nP4hTdxTzr-IpOZy"/>
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>
    <add key="free_transfer_amount" value="69"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off" defaultRedirect="/error.html"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <globalization culture="el" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" uiCulture="el"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.babydream.gr" port="25" userName="sales@babydream.gr" password="ZAxari22"/>
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>